.container{
    background-color: rgb(252, 225, 191);
}
.container-fluid{
    background-color: aquamarine;
}
.container-sm{
    background-color: rgb(207, 188, 112);
}
.container-lg{
    background-color: darkgrey;
}
.container-xl{
    background-color: darkseagreen;
}
.container-md{
    background-color: aqua;
}
.container-xxl{
    background-color: rgb(122, 82, 96);
}